.s-hero {
  width: 100%;
  background-color: #f2f3f9;
  padding-top: 19.3rem;
  padding-bottom: 18rem;
  overflow-x: hidden;
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .left {
    width: 100%;
    max-width: 54.4rem;
    h1 {
      position: relative;
      z-index: 1;
      font-weight: 600;
      font-size: 6.4rem;
      line-height: 7.7rem;
      letter-spacing: -0.01em;
      color: var(--black);
      margin-bottom: 2.6rem;
      &::after{
        content: "";
        width: 435px;
        height: 8px;
        background-color: var(--yellow);
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
      }
    }
  }
  .right {
    position: relative;
    right: -11.2rem;
  }
}
